@import "../../common/style.scss";
.novel_block {
    padding: Rem(20) Rem(20) 0 Rem(20) ;
    width: Rem(750);
    box-sizing: border-box;
    background: #F9F9F9;
}
.moreRead{
    width: Rem(750);
    height: Rem(173);
    margin-top: Rem(-30);
    padding-bottom: Rem(98)
}

.novel_container {
    background: #FAFAFA;
    margin-top: Rem(-20);
}

.novel_content {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: Rem(30);
}

.novel_content .title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.title {
    font-size: Rem(32);
    color: #333333;
    margin-bottom: Rem( 20);
}

.viewImage1 {
    width: Rem(690);
    height: Rem(340);
    margin-bottom: Rem(20);
}

.book_type {
    background-image: linear-gradient(90deg, #FF88C2 0%, #FE5151 93%);
    border-radius: 100px;
    height: Rem(35);
    font-size: Rem(24);
    color: #FFFFFF;
    text-align: center;
    line-height: Rem(35);
    margin-right: Rem(20);
    padding: 0 Rem(10);
}

.content_type {
    font-size: Rem(24);
    color: #999999;
}

.type_container {
    display: flex;
    margin-bottom: Rem(30);
    width: 100%;
    align-items: center;
    position: relative;
}

.image_group {
    display: flex;
    height: Rem(144);
    margin-bottom: Rem(20);
    width: Rem(690);
    justify-content: space-between;
}

.image_group img {
    height: Rem(144);
    width: Rem(222);
}

.view_type_3 .container3 {
    width: Rem(440);
    height: Rem(144);
    position: relative;
    margin-bottom: Rem(30);
    margin-right: Rem(28);
}

.view_type_3 .type_container3 {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
}

.view_type_3 {
    display: flex;
    border-bottom: Rem(1) solid #F0F0F0;
    margin-bottom: Rem(30);
}

.view_type_3 .title {
    width: Rem(440);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.view_type_3 img {
    width: Rem(222);
    height: Rem(144);
}

.banner {
    width: 100%;
    height: Rem(94);
    font-size: Rem(36);
    color: #000000;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .text {
    position: relative;
    line-height: Rem(94);
    margin-left: Rem(34);
}

.more_noval {
    background-image: linear-gradient(-180deg, #FED151 0%, #FBA303 100%);
    border-radius: 100px;
    width: Rem(100);
    height: Rem(40);
    font-size: Rem(24);
    color: #FFFFFF;
    text-align: center;
    line-height: Rem(40);
    margin-right: Rem(20);
}

.banner .text::before {
    position: absolute;
    left: Rem(-12);
    top: Rem( 32);
    content: '';
    display: block;
    width:Rem(6);
    height: Rem( 30);
    /* background: #FE5151; */
    background-image: linear-gradient(-180deg, #FF9AE8 0%, #FE5151 100%);
    border-radius: Rem(100);
}

.readCount {
    font-size: Rem( 24);
    color: #999999;
    position: absolute;
    right: 0;
}