/* ==推荐模块== */
@import "../../common/style.scss";
  .recommend {
    width: Rem(750);
    margin-bottom: Rem(20);
    background: #fff;
    .images{
        width: Rem(750);
        height: Rem(345);
        .image{
            width: Rem(220);
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            img{
                width: Rem(220);
                height: Rem(290);
            }
            span{
                text-align: center;
                font-size: Rem(30);
                color: #333333;
                margin-top: Rem(7)
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
        display: flex;
        justify-content: space-around;
        align-content: space-between;
    }
    .box{
        border-top:Rem(1) solid #ecedec;
        width: Rem(750);
        padding: Rem(16);
        box-sizing: border-box;
        overflow: hidden;
        .read-count{
            font-size:Rem( 22);
            color: #999999;
            margin-bottom:Rem(20);
          }
        .desc{
            width: Rem(720);
            margin:Rem( 16) Rem(0 8)Rem( 20);
            font-size:Rem( 28);
            color: #333;
            line-height:Rem( 40);
            display:-webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient:vertical;
            overflow:hidden;
            
          }
          .text{
            width: Rem(720);
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* margin: 0 0Rem( 16) 0; */
            font-size:Rem( 28);
            /* color: #999999; */
          }
          .title{
            font-size:Rem( 28);
            color: #999999;
            span{
                color: #FFA9B4;
              }
          }
      }
    }