@import "../../common/style.scss";
.banner {
  width: 100%;
  height: Rem(94);
  font-size:Rem( 36);
  color: #000000;
  display: flex;
  justify-content: space-between;
  .text {
    position: relative;
    line-height:Rem( 94);
    margin-left:Rem( 34);
  }
  .text::before {
    position: absolute;
    left: Rem(-12);
    top:Rem( 32);
    content: '';
    display: block;
    width:Rem(6);
    height:Rem( 30);
    /* background: #FE5151; */
    background-image: linear-gradient(-180deg, #FF9AE8 0%, #FE5151 100%);
    border-radius: Rem(100);
  }
}
.banner1 {
  width: 100%;
  height: Rem(94);
  font-size:Rem(42);
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .readMore{
    
      font-size: Rem(28);
      margin-right: Rem(20);
      color: #000000;
   
  }
  .text1 {
    position: relative;
    line-height:Rem(94);
    margin-left:Rem(20);
  }
}