@import "../../common/style.scss";

.container{
  padding-top: Rem(96);
  height: 100vh;
  background: #ffffff;
  .top{
    width: Rem(750);
    height: Rem(96);
    border-bottom: 1px solid #adadad;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 10;
    font-size: Rem(36);
    color: #333333;
    text-align: center;
    .goback{
      position: absolute;
      left: Rem(34);
      img{
        width: Rem(40);
        height: Rem(40);
      }
    }
    // margin-bottom: Rem(97)
    span{
      line-height: Rem(96)
    }
  }

}
.book_container{
  margin-left: Rem(157);
  overflow-x: hidden;
  
}
:global{
  .am-tabs-default-bar-tab{
    height: Rem(95) !important;
    margin:  Rem(20) 0;
  }
  .am-tabs-default-bar-left .am-tabs-default-bar-underline{
   right: inherit !important;
    left: 0 !important;
    border: 2px solid  #FE5151 !important;
  }
  .am-tabs-default-bar-tab-active{
    color: #FE5151 !important;
  }
  .am-tabs-vertical .am-tabs-tab-bar-wrap{
    // height: auto !important;
    border-right:  1px solid #adadad !important;
    background: #ffffff;
    width: Rem(130);
    position: fixed;
    top: Rem(97);
    left: 0;
    z-index: 9;
    padding-right: Rem(1);
    box-sizing: content-box;
  }
  .am-tabs-default-bar{
    height: auto !important;
    margin-top: Rem(70);
   
  }
  .am-tabs-default-bar{
    width: Rem(130) !important;
    background: #ffffff !important;
   
  }
}