@import "../../common/style.scss";
.bookBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.limit_book{
    a{
        color: #333333;
     
    }
}
.hotTitle{
    margin-top: Rem(7)
}
.limit_container{
    width: Rem(750);
    height: Rem(750);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size:Rem( 32);
    color: #333333;
    .bookimg{
        width: Rem(220);
        height: Rem(292);
        display: block;
    }
    .limitfree{
        position: absolute;
        width:Rem( 48);
        height:Rem( 78);
        top: 0;
        left:Rem( 14);
    }
   
}
.maohao{
  text-align: center;
  color: #999999;
  width:Rem( 20);
  height:Rem( 48);
  line-height:Rem( 48);
  margin-right:Rem(5);
}
.moreLimitFree{
    width: 100%;
    text-align: center;
    font-size:Rem( 28);
    color: #999999;
    padding:Rem( 30) 0;
}