
  @import "../../common/style.scss";
  .rank_container{
      background: #fff;
      margin-bottom:Rem(20);
      // width: Rem(750);
  }
  .bottomIntro{ 
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-size: Rem(24);
      .author{
        color: #000000;
        
      }
      .typeGroup{
          display: block;
         
      }
      .typeGroup span:nth-child(1){
        background: #CDCDCD;
        padding: Rem(5);
        color: #FFFFFF;
        border-radius: Rem(10) 0 0 Rem(10);
      }
      .typeGroup span:nth-child(2){
        background: #ECECEC;
        padding: Rem(5);
        color: #737373;
        border-radius: 0 0  Rem(10) 0;
      }
  }

  .article_image{
      height: Rem(170) !important;
      width: Rem(130) !important;
      margin-right:Rem(24);
      // border-radius: Rem(10);
  }
  // .rank_article .article_container:last-child{
  //   border-bottom:  0;
  // }
  .article_container{
      display: flex;
      height: Rem(236);
      align-items: center;
      box-sizing: border-box;
      // border-bottom:  Rem(1) solid #D3D3D3;
      padding-right: Rem(20)
  }
  .images{
    width: Rem(53);
    height: Rem(59);
  }
  .article_texts{
   flex: 1;
    flex-direction: column;
    display: flex;
    height: Rem(170);
    position: relative;
  }
  .article_type{
    position: absolute;
    bottom: 0;
    margin-right:Rem( 8);
    border-radius: 100px;
    width: Rem(124);
    height:Rem( 35);
    font-size:Rem( 24);
    color: #999999;
    text-align: center;
    line-height:Rem( 35);
    border: 1px solid #999999;
  }
  .title{
    display: flex;
    font-size:Rem(32);
    color: #333333;
    height: Rem(59);
    align-items: center;
  }
  // .normal{
  //   font-size: Rem(40)
  // }
  .des{
    font-size:Rem( 28);
    color: #999999;
    // margin-top:Rem( 12);
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    // width: Rem(506);
    display: -webkit-box;
    -webkit-box-orient: vertical;  }

