@import "../../common/style.scss";

  :global{
    .spaceCarousel_3lGwa {
        padding: 16px;
        background: #ffffff00 !important;
        overflow: hidden; 
    }
   }
.bannerBackground{
    width: Rem(750);
    height: Rem(421);
}

.topContainer{
    position: relative;
    .navbar{
        position: absolute;
        top: 0;
        height: Rem(90);
        width: Rem(750);
        ul{
            width: Rem(750);
            display: flex;
            padding: 0;
            margin: 0;
            height: Rem(90);
            // align-items: center;
            justify-content: space-around;
            li{
                color: #fff;
                font-size: Rem(32);
                display: inline-block;
                height: Rem(90);
                line-height: Rem(90);
                // width:Rem(90);
                padding: 0 Rem(10);
                text-align: center;
            }
            .yellowLi{
                background-image: linear-gradient(-180deg, #FED050 5%, #FDD385 98%);
                color: #000000;
            }
        }
    }
    .carousel{
        position: absolute;
        top: Rem(113);
        width: Rem(750);
        height: Rem(300);
    }
    .spaceCarousel {
        padding: 16px;
        background: #DEF1E5;
        overflow: hidden;
      }
}
.image{
    width: 100%;
    height: Rem(270);
}