@import "../../common/style.scss";

.tabbar{
    position: fixed;
    bottom: 0;
    width: Rem(750);
    background: #fff;
    height: Rem(98);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .tab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: Rem(59);
            height: Rem(59);
           
        }
        span{
            color: #333333;
            font-size: Rem(9);
        }
    }
}