.tabs_item{
  width: 500px;
  height: 200px;
  background: rgb(255, 236, 236);
  float: left;
}
.tabs{
  width: 500px;
  height: 200px;
  overflow: hidden;
  position: relative;
  .tabs_group{
    width: 1500px;
    position: absolute;
    // display: flex;
    // flex-direction: row;
    transition: 0.5s left;
  }
}
.tabs_header{
  width: 500px;
  display: flex;
  justify-content: space-around;
  .tabs_header_block{
    width: 100px;
    height: 40px;
    border-bottom: solid 2px rgb(231, 231, 231);
    text-align: center;
    line-height: 40px;
  }
  .tabs_header_block_active{
    @extend .tabs_header_block;
    border-bottom: solid 2px rgb(255, 1, 1);

  }
}