body{
  padding: 0;
  margin: 0;
  .container{
    min-height: 100vh;
    .header{
      background-color: #ffffff;
    }
    .content{
      margin: 0 16px;
    }
    .footer{
      text-align: center;
    }
  }
  :global{
    .ant-input{
      border-radius: 0;
    }
  }
}


