@import "../../common/style.scss";
%flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container{
  width: Rem(750);
  height: 100%;
  .boxGroup{
    @extend %flex-container;
    background: yellow;
    width: Rem(750);
    height: Rem(400);
    .box{
      width: Rem(150);
      height: Rem(50);
      background: $red-color
    }
  }
}

